* text=auto

# Force Linux format (important AWS / Bash)
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
